[mysqld]

bind-address = 0.0.0.0
port = 3306

max_connections = 100
innodb_buffer_pool_size = 1G

log_error = /var/log/mysql/mariadb.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mariadb-slow.log
long_query_time = 2

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

skip-name-resolve

datadir = /var/lib/mysql

[client]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4